<div class="sideContainer">
	<div class="panel panel-primary">
		<div class="panel-heading">Contacts</div>
		<div class="panel-body">

			<a class="btn btn-block btn-link btn-lg">
				<span class="inlineIcon"><img src="public/icons/png/mobile-phone.png"></span> +91-9876543210
			</a>
			<a href="https://www.facebook.com/chottukieducation" target="_blank" class="btn btn-block btn-link btn-facebook btn-lg">
				<span class="inlineIcon"><img src="public/icons/png/facebook-logo-1.png"></span> facebook/Chottu Ki Edu
			</a>
			<a href="https://www.facebook.com/chottukieducation" target="_blank" class="btn btn-block btn-link btn-facebook btn-lg">
				<span class="inlineIcon"><img src="public/icons/png/google-plus-symbol.png"></span> GooglePlus/Chottu Ki Edu
			</a>
			<a href="https://www.facebook.com/chottukieducation" target="_blank" class="btn btn-block btn-link btn-facebook btn-lg">
				<span class="inlineIcon"><img src="public/icons/png/envelope.png"></span>chottukiedu@gmail.com
			</a>
			<a href="https://www.facebook.com/chottukieducation" target="_blank" class="btn btn-block btn-link btn-facebook btn-lg">
				<span class="inlineIcon"><img src="public/icons/png/group-people.png"></span> chottukiedu@gmail.com
			</a>
		</div>
	</div>

</div>
